:root {
    --primary-color: #6ea76e;
    --secondary-color: #265e26ce;
    --text-color: #a3a3a3;
    --text-secondary-color: #001100;
    --background-color: #013612;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf1ee;
    transition: background-color 0.5s ease;
}
.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.menu-lateral.ativo {
    left: 0;
}
.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}
.menu-lateral ul li {
    padding: 15px 30px;
}
.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
}
.toggle {
    background-color: var(--primary-color);
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
}
.toggle:hover {
    background-color: var(--secondary-color);
}
.toggle.ativo {
    left: 320px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.background.ativo {
    opacity: 1;
    visibility: visible;
}
.topo {
    padding: 30vw 50vw 4vw 5vw;
    background: url(../imagem/image\ 16.png);
    background-position: top;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    font-family: "Hammersmith One", sans-serif;
    text-align: center;
}
.topo.ativo {
    margin-left: 300px;
    background-color: transparent;
}
.topo h1 {
    font-size: 5rem;
    color: #ecf1ee;
    padding-bottom: 5vw;
}
.praticar {
    margin: 4vw 8vw;
}
.praticar h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #02210C;
    text-align: center;
    margin-bottom: 2vw;
}
.praticar p.sub {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0 12vw;
}

.card {
  list-style: none;
  display: flex; 
  padding: 0;
  margin: 5vw;
  align-items: center;
}

.cards  {
  flex: 1;
  background-color: #D3E6D3;
  border-radius: 12px;
  padding: 1vw;
  text-align: center;
  margin: 3vw 12vw;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: #ABD0B5;
  border-radius: 50%;
  display: flex;          
  align-items: center;    
  justify-content: center;
  margin: 2vw auto 15px;
}

.icon img {
  width: 40px;
}
.praticar div.imagem {
    width: 300px;
}
.praticar h3 {
    font-size: 1.4rem;
    color: #02210C;
    font-weight: bold;
}
.praticar div.card p {
    font-size: 1rem;
    padding: 20px;
    line-height: 1.5vw;
}