:root {
    --primary-color: #6ea76e;
    --secondary-color: #265e26ce;
    --text-color: #a3a3a3;
    --text-secondary-color: #001100;
    --background-color: #013612;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ecf1ee;
    transition: background-color 0.5s ease;
}
.menu-lateral {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5;
    box-shadow: 0 0 20px rgba( 0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.menu-lateral.ativo {
    left: 0;
}
.menu-lateral ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}
.menu-lateral ul li {
    padding: 15px 30px;
}
.menu-lateral ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-lateral ul li:hover {
    background-color: var(--secondary-color);
}
.toggle {
    background-color: var(--primary-color);
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 6;
    border-radius: 50px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #ecf1ee;
    transition: all 0.5s ease-in-out;
}
.toggle:hover {
    background-color: var(--secondary-color);
}
.toggle.ativo {
    left: 320px;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.background.ativo {
    opacity: 1;
    visibility: visible;
}
section.banner {
  position: relative;
}

section.banner img {
  width: 100%;
  height: auto;
  display: block;
}

section.banner h1 {
  position: absolute;
  bottom: 200px;  
  left: 100px;     
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 3.5rem;
 
}
section.banner {
    background: url(../imagem/image\ 14.png);
    background-size: cover;
     background-position: center; 
  align-items: center;      
  justify-content: center;  
  
}

section.meio p {
    text-align: center;
    margin: 2vw  15vw 2vw 15vw;
    font-size: 1.2rem;
    
    
}
section.meio h2 {
    color: #013612;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 3vw 8vw;
}
section.meio div ul h2 {
    text-align: center;
    color: #02210C;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 10px;
}
section.meio div {
    background-color: #D3E6D3;
    border-radius: 50px;
    margin: 10vw 6vw 15vw 5vw;
    padding: 20px 20px 20px 20px;
    
}
section.meio div ul li.img {
    text-align: center;
    padding: 20px 20px;
}
section.exercicios h2 {
    text-align: center;
    color: #02210C;
    font-weight: bold;
    font-size: 2rem;
    margin: 5vw 2vw 5vw 5vw;
}
section.exercicios div ul h3 {
    color: #02210C;
    font-weight: bold;
    font-size: 1.6rem;
     padding: 10px 10px;
   margin: 2vw 3vw;
}
section.exercicios div ul li p {
    color: #808080;
   font-size: 1.2rem;
   padding: 10px 10px;
   margin: 2vw 3vw;
 
}
section.exercicios div ul {
    display: flex;
   
}
section.exercicios div ul.lista2 {
    display: flex;
}
section.exercicios div ul li img {
    width: 17%;
}
section.exercicios div ul li {
   border: #D3E6D3 15px solid;
   border-radius: 20px;
   justify-content: space-between;
   margin: 2vw 2vw;
   
}
section.treinos div ul li {
    text-align: center;
    margin: 2px 3px;
    padding: 15px 15px;
    background: #e2e2e2;
    border-radius: 15px;
    margin: 3vw 4vw 2vw 3vw;
    font-size: 1.2rem;
    border-left: 10px solid #ABD0B5;
    
}
.alimentacao h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #02210C;
    background: #C1D9C3;
    margin: 3vw 30vw 10vw ;
    border-radius: 10px;
    padding: 5px 5px;
}
.alimentacao div ul {
    background: #D3E6D3;
    text-align: center;
    margin: 3vw 18vw;
    border-radius: 15px;
    
}
.alimentacao div ul h3 {
    color: #02210C;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 15px;
   
}
.alimentacao div ul li p {
    font-size: 1.1rem;
    padding: 20px 20px 30px 30px;
}
footer{
    background: #D3E6D3;
    padding: 20px 20px 20px 20px ;
}


footer nav ul li {
    text-align: right;
}
footer nav ul li span {
    font-weight: bold;
}
footer h2 {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 8px 8px 8px;
}
footer div.texto  p {
    padding: 8px;    
}
footer div.contato p {
  text-align: center;
  
}
footer nav p span{
    padding: 4px;
    font-size: 1.5rem;
}
footer div.contato p span {
    font-weight: bold;
}

.video h3 {
    text-align: center;
    font-size: 1.8rem;
    color: #02210C;
    padding: 10px 10px ;
    margin: 3vw 8vw 0vw 8vw;   /* 1° cima 2° esquerda 3°baixo 4° direita */
}
.sobre ul.fundo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.sobre ul.fundo  {
  background-color: #C1D9C3;
  border-radius: 12px;
  padding: 2vw;
  max-width: 350px;
  box-shadow: 1.5vw 1.5vw 0 #8EAB8E;
}

.sobre ul.fundo li video {
  width: 100%;
  height: 100%;  
  border-radius: 8px;
  display: block;
  
}

